
# Defaults
*.[oa]
*.so
*~

# RK4 artifacts
rk4-*-dbg
rk4-*-static

# TSM artifacts
tsm-*-dbg
tsm-*-static
tsm-*-dynamic
divergence

# Test artifacts
libad-test*
libdual-test*

# Symplectic artifacts
h-*-dbg
h-*-static

# C coverage artifacts
*.gcov
*.gcda
*.gcno
*.gch
coverage.info
coverage-out/

# C profiling artifacts
*_gprof
gmon.out

# Vim/Python/Pycharm stuff
tags
.idea/
__pycache__/
.coverage
cov_html/

# Optional
zig
zig-cache/
kerr-image.c
RaytracingOutput/
