
# Defaults
*.[oa]
*.so
*~

# TSM artifacts
tsm-*-dbg
tsm-*-static
divergence
dual-test
taylor-test

# Symplectic artifacts
h-*-dbg
h-*-static

# C coverage artifacts
*.gcov
*.gcda
*.gcno
*.gch
coverage.info
coverage-out/

# Vim/Python/Pycharm stuff
tags
.idea/
__pycache__/
.coverage
cov_html/

# Optional
zig
kerr-image.c
