
# Defaults
*.[oa]
*.so
*~

# TSM artifacts
tsm-*-dbg
tsm-*-static
tsm-*-dynamic
divergence
dual-test
taylor-test

rk4-*-dbg
rk4-*-static
rk4-*-dynamic

# C coverage artifacts
*.gcov
*.gcda
*.gcno
*.gch
coverage.info
coverage-out/

# C profiling artifacts
*_gprof
gmon.out

# Vim/Python/Pycharm stuff
tags
.idea/
__pycache__/
.coverage
cov_html/

# Optional
zig
zig-cache/
kerr-image.c

a.out
